.container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: Darkred;
  padding: 5px;
}
.container div {
  background-color: #f1f1f1;
  border: 1.5px solid Black;
  padding: 5px;
  font-size: 30px;
  text-align: center;
}