  body {
    font-family: Arial, sans-serif;
    margin: 0;
    text-align: center;
    padding: 20px;
    background-image: url(https://png.pngtree.com/background/20230519/original/pngtree-an-old-coffee-shop-with-very-dark-walls-picture-image_2652909.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
  }

  h1 {
    margin-top: 40px;
    color: #f39c12;
    text-shadow: 2px 2px 4px #000;
  }

  .container img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  }
  .container p {
  margin-top: 10px;
  font-size: 20px;
  font-weight: bold;
  }

  
.container {
  display: grid;
  grid-template-areas: 'myHeader myHeader myHeader myHeader myHeader';
  background-color: rgb(250, 199, 123);
  padding: 5px;
  gap: 5px;
}

.container div {
  background-color: #f1f1f1;
  color:#000;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.item1 {
  grid-area: myHeader;
}

.item7 {
  grid-area: myfooter;
}